/* styles.css */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    border: none;
    outline: none;
    font-family: 'Poppins', sans-serif;
}

html{
    font-size: 62.5%;
}

body{
    width: 100%;
    height: 100vh;
    overflow-x: hidden;
    background-color: black;
    color: white;
}

header{
    margin-top: 20px;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 1rem 9%;
    background-color: transparent;
    filter: drop-shadow(10px);
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 100;
}

.logo{
    font-size: 3rem;
    color: #b74b4b;
    font-weight: 800;
    cursor: pointer;
    transition: 0.5s ease;
}

.logo:hover{
    transform: scale(1.1);
}

nav a{
    font-size: 1.8rem;
    color: white;
    margin-left: 4rem;
    font-weight: 500;
    transition: 0.3s ease;
    border-bottom: 3px solid transparent;
}

nav a:hover,
nav a.active{
    color: #b74b4b;
    border-bottom: 3px solid #b74b4b;
}

@media(max-width:995px){
    nav{
        position: absolute;
        display: none;
        top: 0;
        right: 0;
        width: 40%;
        border-left: 3px solid #b74b4b;
        border-bottom: 3px solid #b74b4b;
        border-bottom-left-radius: 2rem;
        padding: 1rem solid;
        background-color: black;
        border-top: 0.1rem solid rgba(0,0,0,0.1);
    }

    nav.active{
        display: block;
    }

    nav a{
        display: block;
        font-size: 2rem;
        margin: 3rem 0;
    }

    nav a:hover,
    nav a.active{
        padding: 1rem;
        border-radius: 0.5rem;
        border-bottom: 0.5rem solid #b74b4b;
    }
}
#skills {
    margin-top: 100px;
    background-color: #000000; /* Dark background for section */
    padding: 60px 0;
}

.container {
    width: 50%;
    margin: 0 auto;
    text-align: center;
}

h2 {
    font-size: 3.2em;
    margin-bottom: 20px;
    color: #b74b4b; /* Red color for heading */
}

.skills-grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    gap: 20px;
}

.skill {
    background: #090909; /* Dark background for skill boxes */
    border: 1px solid #101010; /* Slightly lighter border */
    border-radius: 10px;
    padding: 20px;
    box-shadow: 0 4px 8px rgba(107, 25, 25, 0.3);
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.skill:hover {
    transform: translateY(-10px);
    box-shadow: 0 12px 24px rgba(121, 16, 16, 0.4);
}

.icon {
    font-size: 3em;
    color: #b74b4b; /* Red color for icons */
    margin-bottom: 15px;
}

.icon i {
    font-size: 3em;
}

h3 {
    font-size: 2.6em;
    color: #b74b4b; /* Red color for subheadings */
    margin: 10px 0;
}

p {
    font-size: 1.5em;
    color: #ccc; /* Light gray text for readability */
}
